<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
      {{>header}}
      <h2>About page</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quibusdam optio voluptas aliquam architecto consequuntur ipsa, deserunt illo quia culpa ab alias tempora ipsum aspernatur! Maiores!</p>
    </div>
    <p>we are genysis developers</p>
    {{>footer}}
  </body>
</html>