<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
      {{>header}}
      <h2>help page</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat totam dolore veritatis 
        fugiat facilis rerum a, accusantium et itaque soluta fugit quas odio officia cupiditate.</p>
    </div>
    {{>footer}}
  </body>
</html>