<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{>header}}
    <h2>this is the whether forecast data</h2>
    
    <form>
      <input placeholder='search location...'>
      <button>Submit</button>
    </form>
      <p id="msgOne"></p>
      <p id="msgTwo"></p>
   
    {{>footer}}

    <script src='/js/app.js'></script>
  </body>
</html>