<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/ddea276577.js" crossorigin="anonymous"></script>
  </head>

  <footer class="footer">
    <div class="container">

      <div class="about-us"> 
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat adipisci delectus eligendi officia, nostrum necessitatibus eos! Sunt voluptates beatae ducimus!</p>
      </div>

      <div class="newsletter">
        <h2>Newsletter</h2>
        <p>Stay ubdates with Me</p>
        <div class="form-element">
          <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
        </div>
      </div>

      <div class="instagram">
        <h2>instagram</h2>
        <div class="flex-row">
          <img src="/images/insta2.jpeg">
          <img src="/images/insta4.jpg">
          <img src="/images/insta6.jpeg">
         </div>
         <div class="flex-row">
          <img src="/images/insta1.jpeg">
          <img src="/images/insta3.jpeg">
          <img src="/images/insta6.jpg">
        </div>
      </div>

      <div class="follow">
        <h2>Follow</h2>
        <p>Let us be Social</p>
        <div>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
      <div class="right flex-row">
        <h4>Copyrights &copy; 2020 All rights reserved</h4>
      </div>
      <p class="flex-row right ">made by <span> William tony <i class=" fas fa-heart"></i></span></p>
  </footer>
</html>