<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <h1>{{title}}</h1>
      <div>
      <a href='/'>Whether</a>
      <a href='/about'>About</a>
      <a href='/help'>help</a>
    </div>
  </body>
</html>